.head{
    background-color: antiquewhite;
    text-align: center;
}
.container{
    background-color: rgb(249, 248, 246);
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 1000px;
    align-content: stretch;
    gap: 10px;
    justify-content: center;
    text-align: center;
   
}
.box1{
    background-color: rgb(119, 119, 223);
    color: brown;
    width: 200px;
}
.box2{
    background-color:rgb(145, 106, 106);
    color: brown;
    width: 200px;
}
.box3{
    background-color:rgb(143, 176, 143);
    color: brown;
    width: 200px;
}
